<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram</title>
    <style>
        /* p{
            position: absolute;
            top: 20px;
            left: 270px;
        } */
        img {
            height: 150px;
            width: 150px;
            object-fit: cover;
        }
    </style>
    <link rel="stylesheet" href="/style.css">
</head>
<!-- <%- include("includes/footer.ejs") %> -->

<body>

    <h2>Owned by: @<%= data.name %>
    </h2>
    <button>Follow</button>
    <button>Message</button>
    <br><br>

    <p>Followers: <%= data.followers %> &nbsp;&nbsp;&nbsp;&nbsp;
            Following: <%= data.following %>
    </p>
    <hr color="red">
    <!-- printing each posts of an individual -->

    <% for (post of data.posts) { %>
        <% let imageSource=post.image %>
            <img src="<%= post.image %>" alt="imagess">
            <p>likes: <%= post.likes %> &nbsp;&nbsp; comments: <%= post.comments %>
            </p>
            <% } %>

                <%- include("includes/footer.ejs") %>
                    <script src="/app.js"></script>
</body>

</html>